extends ../layout/app
block page 
	include ../includes/mixins.pug
	div(class="wrapper")#name
		include ../chunk/header
		main.main-content._container 
			.main-content
				._title
					h1 Главная!!
			._body 
				.list 
					each item  in news
						ul.items 
							li
								h3.item= item.name
							li
								a(href="").text= item.body
				.list 
					each item  in news
						ul.items 
							li 
								h3.item= item.name
							li 
								a(href="").text= item.body
				+listItems
				+myMixin
					p This is my
					p Amazing article
				+article('Hello world!!')
				+article('Hello world!!!!')
			.menu-page
				._title._trigger-click
				._slide
					img._img(alt="Изображение" src="img/cover.jpg") 
				._slide
					img._img(alt="Изображение" src="img/img_snow.jpg")
				._slide.-active Content
				._slide Content	!!!!!!!!!!!!
					p._text Good weather!
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur explicabo porro possimus quo sunt. Cumque dolores dolorum expedita illo modi numquam praesentium. Expedita facere nesciunt nisi, obcaecati quod	rerum sapiente! 
		include ../chunk/footer